example-project/**
node_modules/**
!node_modules/@behave-runner/core/out/**
!node_modules/@behave-runner/core/package.json
!node_modules/@behave-runner/lsp/out/**
!node_modules/@behave-runner/lsp/package.json
out/**/*.map
src/**
packages/**
